<!DOCTYPE html>
<html lang="en">
  <head>
    <% if (template === 'pomodoro') { %>
      <%- include('partials/pomodoro-links'); %>
    <% } else { %>
      <%- include('partials/head'); %>
    <% } %>
  </head>
  <body>
    <main>
      <%- include('partials/header'); %>
      <%- include(`pages/${template}`) %>
    </main>
    <footer>
        <%- include('partials/footer'); %>
    </footer>
    <% if (template !== 'pomodoro') { %>
      <%- include(`../public/javascripts/${javascript}.js`); %>
    <% } else { %>
      <%- include('../public/javascripts/main.js'); %>
    <% } %>
  </body>
</html>
