<!DOCTYPE html>
<html lang="en">
  <head>
    <% if (template === 'pomodoro-clock') { %>
      <%- include('partials/pomodoro-links'); %>
    <% } else if (template === 'random-quote-generator') { %>
      <%- include('partials/random-quote-links'); %>
    <% } %>
    <%- include('partials/head'); %>
  </head>
  <body>
    <div class="wrapper">
        <!-- HEADER -->
        <div id="header">
          <%- include('partials/header'); %>
        </div>
        <!-- BANNER -->
        <% if (template === 'home') { %>
          <%- include('partials/banner'); %>
        <% } %>
        <!-- TEMPLATE CONTENT -->
        <div id="main">
          <%- include(`pages/${template}`); %>
        </div>
        <!-- FOOTER -->
        <div id="footer">
          <%- include('partials/footer'); %>
        </div>
    </div>
      <!-- JAVASCRIPT -->
    <script type="text/javascript">
      <% if (template !== 'pomodoro-clock' && template !== 'random-quote-generator') { %>
        <%- include(`../public/javascripts/${javascript}.js`); %>
      <% } else { %>
        <%- include('../public/javascripts/index.js'); %>
      <% } %>
    </script>
  </body>
</html>
