<section class="projects">
  <div class="page-title">
    <h2>Projects</h2>
  </div>
  <div class="page-description">
    <p>Explore the projects I've worked on.</p>
  </div>
  <div class="container">
    <% for (let i = 0; i < projectsData.length; i++) { %>
      <div class="card">
        <img src="<%= projectsData[i].image; %>">
        <h2 class="card-title"><%= projectsData[i].title; %></h2>
        <div class="description">
          <p><%= projectsData[i].description; %></p>
          <div id="tags">
            <% for (let j = 0; j < projectsData[i].tags.length; j++) { %>
            <div class="tag"><%=  projectsData[i].tags[j]; %></div>
            <% } %>
          </div>
        </div>
        <div class="card-buttons">
            <a href="/projects/<%= projectsData[i].buttonLink %>" class="btn-a demo">Demo</a>
            <a href="/projects/<%= projectsData[i].buttonLink %>" class="btn-a github">GitHub</a>
        </div>
      </div>
    <% } %>
  </div>
</section>
